<!DOCTYPE html>
<html lang="en">
<head>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <meta charset="UTF-8">
    <title>displayHole</title>
</head>
<body>
<div class="nav nav-fill">
    <div class="form-group nav-item">
        <label for="townSelect">行政區</label>
        <select multiple class="form-control" id="townSelect">
            {% for ele in towns %}
                <option value="{{ele}}">{{ ele }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group nav-item">
        <label for="reasonSelect">坑洞原因</label>
        <select multiple class="form-control" id="reasonSelect">
            {% for ele in reason %}
                <option value="{{ele}}">{{ ele }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group nav-item">
        <label for="startDateSelect">起始日期</label>
        <input placeholder="Selected date" type="text" id="startDateSelect" name="startDateSelect" class="form-control pull-right">
    </div>
    <div class="nav-item" id="buttonNav">
        <button type="button" class="btn btn-primary btn-sm" id="search">Search</button>
    </div>
</div>
<div class="container-fluid fullPage">
    <div class="row">
        <div class="col-lg-8" id="map">
        </div>
        <div class="col-lg-4" id="statistics">
            <iframe src="https://hasdoel.ml/grafana/dashboard-solo/snapshot/9eVX4gRhyHf5yiyDXpb11BjOB6M3hpMX?orgId=0&from=1565078404606&to=1572854404606&panelId=6" class="statistics" frameborder="0"></iframe>
            <iframe src="https://hasdoel.ml/grafana/dashboard-solo/snapshot/WZXQUumUREb0YbfpLteiFEhjfZi9r8OF?orgId=1&from=1565240999225&to=1573016999225&panelId=2" class="statistics" frameborder="0"></iframe>
            <iframe src="https://hasdoel.ml/grafana/dashboard-solo/snapshot/l4MhbI8SwX4hVIMK41voh1NO7ouWTVTG?orgId=1&from=1565241052418&to=1573017052418&panelId=8" class="statistics" frameborder="0"></iframe>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="holeDetailModal" tabindex="-1" >
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">案件編號 </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <label for="reasonModal" style="color: #666666">施工原因</label>
          <p id="reasonModal" type="text">路面破損</p>
          <label for="timeModal" style="color: #666666">日期</label>
          <p id="timeModal" type="text">2019-01-11 20:30:29</p>
          <label for="positionModal" style="color: #666666">經緯度</label>
          <p id="positionModal" type="text">23.2781987029346 , 120.310877483131,2061</p>
          <label for="contentModal" style="color: #666666">內容</label>
          <p id="contentModal" type="text">後壁區嘉民里143號之3宅前路面改善工程</p>
          <label for="weatherModal" style="color: #666666">氣候</label>
          <p id="weatherModal" type="text"><b>氣溫: <span id="temperatureModal">18.5°C</span>  降雨量:<span id="rainFallModal">80mm</span></b></p>

      </div>
    </div>
  </div>
</div>
<!--div id="map" style="height:80vh;width:100%; border: 1pt solid;" ></div-->
</body>
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    /******
     for csrf token
     *******/
</script>
<script>
    /*****
     * for date picker
     *****/
    $('input[name="startDateSelect"]').on("click",function (e) {
        $('input[name="startDateSelect"]').daterangepicker();
    })

    /***
     * for google map api marker
     ***/
    var gmarkers=[]
    function initMap() {
        directionsService = new google.maps.DirectionsService;
        directionsDisplay = new google.maps.DirectionsRenderer;
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: {lat: 22.9988465,lng: 120.2173261 },
            styles: [
            {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
            {
              featureType: 'administrative.locality',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'geometry',
              stylers: [{color: '#263c3f'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'labels.text.fill',
              stylers: [{color: '#6b9a76'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry',
              stylers: [{color: '#38414e'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry.stroke',
              stylers: [{color: '#212a37'}]
            },
            {
              featureType: 'road',
              elementType: 'labels.text.fill',
              stylers: [{color: '#9ca5b3'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry',
              stylers: [{color: '#746855'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry.stroke',
              stylers: [{color: '#1f2835'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'labels.text.fill',
              stylers: [{color: '#f3d19c'}]
            },
            {
              featureType: 'transit',
              elementType: 'geometry',
              stylers: [{color: '#2f3948'}]
            },
            {
              featureType: 'transit.station',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'water',
              elementType: 'geometry',
              stylers: [{color: '#17263c'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.fill',
              stylers: [{color: '#515c6d'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.stroke',
              stylers: [{color: '#17263c'}]
            }
          ]
        });
        directionsDisplay.setMap(map);
        console.log('map');
    }
    setTimeout(function () {
        $.ajax({
            type: "POST",
            url: '../searchHole',
            data:{
                towns:[],
                reasons:[],
                dates:"",
                'csrfmiddlewaretoken':  csrftoken ,
            },
            dataType:'json',
            success: function (content) {
                console.log(content)
                var av = 0
                var c =0
                for(ele in content.holeList){
                    mapMarker(content.holeList[ele])
                    av += parseFloat(content.holeList[ele].split(",")[0],10)
                    c +=1
                }
                console.log(av/c)
            }
        })
        {% for holePosition in hole %}
            //mapMarker('{{ holePosition }}')
        {% endfor %}
    },100)
    $("#search").on("click",function () {
        towns = $("#townSelect").val()
        reasons = $("#reasonSelect").val()
        dates = $("#startDateSelect").val()
        removeMarkers()
        $.ajax({
            type: "POST",
            url: '../searchHole',
            data:{
                towns: towns,
                reasons: reasons,
                dates: dates,
                'csrfmiddlewaretoken':  csrftoken ,
            },
            dataType:'json',
            success: function (content) {
                console.log(content)
                for(ele in content.holeList){
                    mapMarker(content.holeList[ele])
                }
            }
        })
    })

    function mapMarker(pos) {
        var icon = {
            url: 'https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi2_hdpi.png',
            scaledSize: new google.maps.Size(15, 15), // scaled size
            origin: new google.maps.Point(0,0), // origin
            anchor: new google.maps.Point(0, 0) // anchor
        };
        //console.log(pos)
        latlon = new google.maps.LatLng({lat: parseFloat(pos.split(",")[0],10), lng: parseFloat(pos.split(",")[1],10)})
        var marker = new google.maps.Marker({
            position: latlon,
            map: map,
            icon:icon,
            name:pos.split(",")[2],
        });
        marker.setMap(map)
        google.maps.event.addListener(marker, 'click', function() {clickMarkers(marker.name)});
    }
    function removeMarkers(){
        for(i=0; i<gmarkers.length; i++){
            gmarkers[i].setMap(null);
        }
    }
    function clickMarkers(id){
        //alert(lat+","+lng);
        console.log(id)
        $.ajax({
            type: "POST",
            url: '../searchHoleDetail',
            data:{
                id:id,
                'csrfmiddlewaretoken':  csrftoken ,
            },
            dataType:'json',
            success: function (content) {
                console.log(content);
                $("#reasonModal").text(content["reason"]);
                $("#positionModal").text(content["position"]);
                $("#contentModal").text(content["detail"]);
                $("#timeModal").text(content["time"]);
                $("#temperatureModal").text(content["temperature"]);
                $("#rainfallModal").text(content["rainfall"]);
                $("#holeDetailModal").modal("show");
            }
        })

    }
</script>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDE8mHU0wbuntLJm6QPp6XsvFWFLqG-uEc&callback=initMap"></script>
</html>
<style>
    body{
        background: black;
    }
    .fullPage{
        height: 100vh;
        position: absolute;
        top:0;
        z-index: 1;
    }
    #map{
        height:100vh;
        max-height: 100vw;
    }
    .nav{
        width: 100%;
        background: black;
        opacity: 0.8;
        position: absolute;
        top: 0;
        color: white;
        z-index: 2;
        font-size: 2vh;
    }
    .nav-item{
        margin: .5% 2%;
        height: 10vh;
    }
    select.form-control[multiple], select.form-control[size]{
        height: 5vh;
    }
    #search{
        height: 5vh;
        width: 100%;
        position: relative;
        top: 3.8vh;
    }
    .statistics{
        width: 100%;
        height: 33.3vh;
        max-height: 100vw;
    }
    #statistics{
        padding-top: 10vh;
        height: 100vh;
        overflow: scroll;
    }
    span{
        font-weight: normal;
    }
</style>