{% load pwa %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% progressive_web_app_meta %}
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- Bootstrap Js -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../static/datepicker.css">
    <link rel="stylesheet" href="../static/showingPath.css">
    <script src="../static/datepicker.js"></script>

    <title>坑洞巡查預測路線</title>
</head>
<body>
<div id="map" ></div>
<div id="bottomNav">
    <a id="navigationHref" href="https://www.google.com/maps/dir/?api=1">
        <div class="bottomNavItem">
            <!--img src="https://image.flaticon.com/icons/svg/104/104106.svg" alt="google map"-->
            <i id="navigationIcon" class="material-icons-outlined md-dark">navigation</i>
            <label for="navigationIcon">Navigation</label>
        </div>
    </a>
    <div class="bottomNavItem" onclick="photoModal()">
        <!--img src="https://image.flaticon.com/icons/svg/25/25315.svg" alt="photo"-->
        <i id="cameraIcon"class="material-icons-outlined md-dark">camera_alt</i>
        <label for="cameraIcon">Photo</label>
    </div>
    <div class="bottomNavItem" id="dateNavItem">
        <!--img src="https://image.flaticon.com/icons/svg/1/1078.svg" alt="date"-->
        <i id="dateIcon" class="material-icons-outlined md-dark">date_range</i>
        <label for="dateIcon">Date</label>
    </div>
    <button type="button" id="dataButton" class="btn btn-primary" data-target="#modal" data-toggle="modal" style="position: absolute;top:-100vh;"></button>
    <a href="../pastMap">
        <div class="bottomNavItem" >
            <i id="recordIcon"class="material-icons-outlined md-dark">insert_chart</i>
            <label for="recordIcon">Record</label>
        </div>
    </a>
</div>
<div class="modal fade" id="photoModal">
    <div class="modal-dialog" role="document" style="height:0%;">

    </div>
    <div class="header" ><h1>照片</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="uploadClose">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="content" style="background: #f5f5f5">
        <h2>上傳圖片</h2>
    </div>
    <div class="methodField">
        <input id="uploadPicker" type="file" accept="image/*" />
        <div class="uploadMethod" id="uploadPhotoIcon">
            <i class="material-icons md-dark">add_a_photo</i>
            <img src="" alt="photo" id="photoUploaded">
        </div>
    </div>
    <div class="ui form placeDetail">
        <div class="autoLocate" onclick="getLocation()">
            <i class="material-icons md-dark">autorenew</i>
        </div>
        <div class="field">
            <label class="positionLabel">經度</label>
            <input type="text" id="longitudeInput" placeholder="120.2224724">
        </div>
        <div class="field">
            <label class="positionLabel">緯度</label>
            <input type="text" id="latitudeInput" placeholder="22.996805">
        </div>
    </div>
    <button type="button" class="btn btn-primary" id="uploadPhotoButton" onclick="postPhoto()">Save</button>
</div>
</div>
<div class="modal fade" id="modal" role="dialog" aria-labelledby="modalLabel" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="dateContent">
            <div class="modal-header">
                <!--h5 class="modal-title" id="modalLabel">選擇日期</h5-->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" data-toggle="datepicker" id="date">
                <img src="https://image.flaticon.com/icons/svg/1170/1170690.svg" id="dateImg">
                <div id="dateMiddle">
                    <div id="month" class="dateNumber">
                        12
                    </div>
                    <div id="day" class="dateNumber">
                        31
                    </div>
                </div>
            </div>
            <div class="modal-footer" id="dateSendButton">
                Search
                <!--button type="button" class="btn btn-primary" id="dateSendButton" data-dismiss="modal">Go</button-->
            </div>
        </div>
    </div>
</div>
</body>
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
</script>
<script>

    setTimeout(function () {
        mapRoute()
        mapRectangle()
    },100)

    function mapRoute() {
        var routeHref ="https://www.google.com/maps/dir/?api=1";
        routeHref+="&origin=";
        routeHref+={{ routeList }}[0].reverse().toString();
        var waypoints = [];
        routeHref+="&waypoints=";
        {% for pos in routeList %}
            if({{ forloop.counter0 }} ==0||{{ forloop.counter0 }}==={{ routeListLen }}){
            console.log("ignore");
        }else{
            routeHref +={{ pos }}.reverse().toString()
            routeHref +="|"
            waypoints.push({
                location: new google.maps.LatLng({{ pos }}[1], {{ pos }}[0]),
                stopover: true
            })
        }
        {% endfor %}
        routeHref = routeHref.substring(0, routeHref.length - 1);
        // which is going to remove the redundant '|' of end
        routeHref +="&destination="
        routeHref +={{ routeList }}[{{ routeListLen }}].reverse().toString()
        console.log(routeHref)
        $("#navigationHref").attr("href",routeHref);
        var request = {
            origin: new google.maps.LatLng({{ routeList }}[0][1], {{ routeList }}[0][0]),
            destination: new google.maps.LatLng({{ routeList }}[{{ routeListLen }}][1], {{ routeList }}[{{ routeListLen }}][0]),
            waypoints: waypoints, //an array of waypoints
            optimizeWaypoints: false, //set to true if you want google to determine the shortest route or false to use the order specified.
            //travelMode: google.maps.DirectionsTravelMode.DRIVING
            travelMode: 'WALKING',
        };
        directionsService.route(request, function (response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                directionsDisplay.setDirections(response);
            }else{
                console.log("error")
            }
        });
    }

    function toHexColor(rgb){
        returnString = "#"
        for(i =0 ; i < 3 ; i++){
            if(rgb[i] == 0){
                returnString+="00"
            }else if(rgb[i]<16){
                returnString+="0"
                returnString+= rgb[i].toString(16)
            }else{
                returnString+= rgb[i].toString(16)
            }
        }
        return returnString
    }

    function mapRectangle() {
        {% for ele in polyList %}
            var bounds = {
                north: {{ ele }}[0][0],
                south: {{ ele }}[0][1],
                east: {{ ele }}[0][3],
                west: {{ ele }}[0][2]
            };

            // Define a rectangle and set its editable property to true.
            if({{ ele }}[1][0] == 0){
                var rectangle = new google.maps.Rectangle({
                    bounds: bounds,
                    editable: false,
                    strokeColor: "#bfbfbf",
                    fillColor: "#ffffff",

                });
                rectangle.setMap(map)
            }else {
                var rectangle = new google.maps.Rectangle({
                    bounds: bounds,
                    editable: false,
                    strokeColor: "#bfbfbf",
                    fillColor: toHexColor({{ ele }}[1])

                });
                rectangle.setMap(map)
            }
        {% endfor %}

    }
    /*
    about position
    */
    function showPosition(position) {
        console.log(position)
        $("#longitudeInput").val(position.coords.longitude)
        $("#latitudeInput").val(position.coords.latitude)
    }
    function error(e) {
        console.log(e)
        $("#longitudeInput").val(120.2224724)
        $("#latitudeInput").val(22.996805)
    }
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition,error,{timeout:100});
        } else {
            console.log("error");
            $("#longitudeInput").val(120.2224724)
            $("#latitudeInput").val(22.996805)
        }
    }

    /*
    model open
     */
    function photoModal() {
        $("#photoModal").modal('show');
        $(".uploadMethod > i").css("display","block");
        $(".uploadMethod").css("background","#b6b6b6");
        $("#photoUploaded").css("display","none");
        $('#photoUploaded').attr('src', "");
        getLocation();
    }

    /*
    click event
     */
    $(function () {
        $(document).on("click","#uploadPhotoIcon",function (e) {
            console.log("trigger upload photo");
            $("#uploadPicker").click();
            e.preventDefault();
        })
        $(document).on("click",".header > i",function () {
            $("#photoModal").modal('hide');
        })
        $(document).on("click","#dateNavItem",function (e) {
            $("#dataButton").click()
            setTimeout(function () {
                $("#date").focus()
            },400)
        })
    })
    /*
    about photo upload
     */
    var photoByte64;
    $(function(){
        $('#uploadPicker').change(function(){
            var input = this;
            var url = $(this).val();
            var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
            if (input.files && input.files[0]&& (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg"))
            {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $(".uploadMethod > i").css("display","none");
                    $(".uploadMethod").css("background","#f5f5f5");
                    $("#photoUploaded").css("display","block");
                    $('#photoUploaded').attr('src', e.target.result);
                    console.log(e.target.result);
                    photoByte64 = e.target.result;
                }
                reader.readAsDataURL(input.files[0]);
            }
            else {console.log("else");}
        });
    });

    function postPhoto(){
        var positionLon = $("#longitudeInput").val()
        var positionLat = $("#latitudeInput").val()
        console.log(positionLat)
        $.ajax({
            type: 'POST',
            url: '',
            data: {
                photoByte64 : photoByte64,
                positionLon : positionLon,
                positionLat : positionLat,
                type:"uploadPhoto",
                'csrfmiddlewaretoken': csrftoken,
            },
            dataType: 'json',
            success: function(content){
                $("#photoModal").modal("hide")
            },error: function (jqXHR, textStatus, errorThrown) {
                if(jqXHR.status === 413) {
                    alert("檔案過大")
                    console.log("Error 413: Request entity too large. Splitting the data into partitions...");
                }
            },
        })
    }

    $(function() {
        $('[data-toggle="datepicker"]').datepicker({
            autoHide: true,
            zIndex: 2048,
        });
    });
    $(document).on("click","#dateSendButton",function () {
        console.log($("#date").val())
        var dateInput = $("#date").val().split("/")
        //window.location.replace("./"+dateInput[2]+dateInput[0]+dateInput[1]);
        /*
        $.ajax({
            type: 'POST',
            url: '',
            data: {
                date:$("#date").val(),
                type:"chooseDate",
                'csrfmiddlewaretoken': csrftoken,
            },
            dataType: 'json',
            success: function(content){
                //directionsDisplay.setMap(null);
                initMap()
                directionsDisplay.setMap(map);
                console.log(content["routeList"])
                var routeHref ="https://www.google.com/maps/dir/?api=1";
                routeHref+="&origin=";
                routeHref+=content["routeList"][0].reverse().toString();
                var waypoints = [];
                routeHref+="&waypoints=";
                for(var i=0;i<=content["routeListLen"];i++){
                    if(i===0 || i===content["routeListLen"]){
                        console.log("ignore");
                    }else{
                        routeHref +=content["routeList"][i].reverse().toString()
                        routeHref +="|"
                        waypoints.push({
                            location: new google.maps.LatLng(content["routeList"][i][1], content["routeList"][i][0]),
                            stopover: true
                        })
                    }
                }

                routeHref = routeHref.substring(0, routeHref.length - 1);
                // which is going to remove the redundant '|' of end
                routeHref +="&destination="
                routeHref +=content["routeList"][content["routeListLen"]].reverse().toString()
                $("#navigationHref").attr("href",routeHref);
                var request = {
                    origin: new google.maps.LatLng(content["routeList"][0][1], content["routeList"][0][0]),
                    destination: new google.maps.LatLng(content["routeList"][content["routeListLen"]][1], content["routeList"][content["routeListLen"]][0]),
                    waypoints: waypoints, //an array of waypoints
                    optimizeWaypoints: false, //set to true if you want google to determine the shortest route or false to use the order specified.
                    travelMode: 'WALKING',
                };
                directionsService.route(request, function (response, status) {
                    if (status == google.maps.DirectionsStatus.OK) {
                        directionsDisplay.setDirections(response);
                    }else{
                        console.log(status.stack)
                        console.log(status)
                    }
                });
            },error: function (jqXHR, textStatus, errorThrown) {
                if(jqXHR.status === 413) {
                    alert("檔案過大")
                    console.log("Error 413: Request entity too large. Splitting the data into partitions...");
                }
            },
        })

         */
    })

    $(document).on("click", "#dateImg",function () {
        $("#date").focus();
    })
    $(document).ready(function() {
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        $("#month").html(mm)
        $("#day").html(dd)
    })
</script>
<script>
   function initMap() {
        directionsService = new google.maps.DirectionsService;
        directionsDisplay = new google.maps.DirectionsRenderer;
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: {lat: 22.9988465,lng: 120.2173261 },
            scaleControl: false,
            streetViewControl: false,
            fullscreenControl: false,
            styles: [
                {
                    "featureType": "administrative",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "administrative.land_parcel",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                }
            ]
        });
        directionsDisplay.setMap(map);
        console.log('map');
    }
</script>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDE8mHU0wbuntLJm6QPp6XsvFWFLqG-uEc&callback=initMap"></script>
</html>
